body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dddddd;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen > * {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    left: 20px;
    top: 20px;
}

/* IE10 */
.water {
    color: blue;
}

/* Firefox */
.water::-moz-progress-bar {
    background: blue;
}

/* Chrome */
.water::-webkit-progress-value {
    background: blue;
}

/* IE10 */
.flowers {
    color: green;
}

/* Firefox */
.flowers::-moz-progress-bar {
    background: green;
}

/* Chrome */
.flowers::-webkit-progress-value {
    background: green;
}