body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dddddd;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen > * {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    left: 20px;
    top: 20px;
}

.status-bars {
    background: rgba(0,255,0,0.5);
    padding: 10px;
}

p {
    margin: 4px;
}

/* IE10 */
#water {color: blue;}
#flowers {color: green;}

/* Firefox */
#water::-moz-progress-bar {background: blue;}
#flowers::-moz-progress-bar {background: green;}

/* Chrome */
#water::-webkit-progress-value {background: blue;}
#flowers::-webkit-progress-value {background: green;}